<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vocabulary</title>
    <link rel="icon" type="image/x-icon" href="/static/images/fav.ico" />
    <link rel="shortcut icon" href="/static/images/fav.ico" />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      href="/static/images/fav.ico"
    />
    <link rel="icon" type="image/x-icon" href="/static/images/fav.ico" />
    <link rel="icon" href="/static/images/fav.ico" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="/">Vocabulary</a>
            </li>
            <li>
              <a href="/nouns">Nouns</a>
            </li>
            <li>
              <a href="/verbs">Verbs</a>
            </li>
            <li>
              <a href="/prepositions">Prepositions</a>
            </li>
            <li>
              <a href="/phrasal_nouns">Phrasal Nouns</a>
            </li>
            <li>
              <a href="/phrasal_verbs">Phrasal Verbs</a>
            </li>
            <li>
              <a href="/adverbs">Adverbs</a>
            </li>
            <li>
              <a href="/adjectives">Adjectives</a>
            </li>
            <li>
              <a href="/pronouns">Pronouns</a>
            </li>
            <li>
              <a href="/interjections">Interjections</a>
            </li>
            <li>
              <a href="/conjunctions">Conjunctions</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <h2>{% block title %} {% endblock %}</h2>
          </div>
        </nav>
        <div>{% block footer %} {% endblock %}</div>
        <div>{% block notifications %} {% endblock %}</div>
        <div class="resultContent">{% block content %} {% endblock %}</div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
