{% extends "base.html" %}
<!--title-->
{% block title %} {{title | safe}} {% endblock %}

<!--Start, Previous & Next-->
{% block footer %} {% if footer %}
<div class="pagefooter">
  <div>
    <a class="previous" href="#" onclick="window.history.back();">
      << Previous
    </a>
    <a class="next" href="{{footer}}">Next >> </a>
  </div>
</div>
{% elif start %}
<div class="pagefooter">
  <div>
    <a class="next" href="{{start}}">Start > </a>
  </div>
</div>
{% endif %} {% endblock %}

<!--message : notification-->
{% block notifications %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
message in messages %}
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  <strong>{{ message | safe }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %} {% endif %} {% endwith %} {% endblock %}

<!--content-->
{% block content %}

<!--content1-->
{% if content1 %} {{content1 | safe}}
<br />
{% endif %}
<!--content2-->
{% if content2 %} {{content2 | safe}}
<br />
{% endif %}
<!--content3-->
{% if content3 %} {{ content3 | safe }}
<br />
{% endif %}

<div class="row">
  <div class="col">
    {% if flowers %}
    <table>
      <th>
        <h3>Flowers</h3>
      </th>
      {% for flower in flowers %}
      <tr>
        <td>{{flower[0]}}</td>
        <td>{{flower[1]}}</td>
        <td>{{flower[2]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  <!--content2-->
  {% if birds %}
  <div class="col">
    <table>
      <th>
        <h3>Birds</h3>
      </th>
      {% for bird in birds %}
      <tr>
        <td>{{bird[0]}}</td>
        <td>{{bird[1]}}</td>
        <td>{{bird[2]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  <!--content3-->
  {% if gemstones %}
  <div class="col">
    <table>
      <th>
        <h3>Gemstones</h3>
      </th>
      {% for stone in gemstones %}
      <tr>
        <td>{{stone[0]}}</td>
        <td>{{stone[1]}}</td>
        <td>{{stone[2]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %} {% endblock %}
</div>
